{% extends 'blog/base.html' %}
{% block main %}
<main class="col-md-8">
    {% for item in article_list %}
    <!-- 这里的class值是留的钩子 hook -->
    <article class="post post-{{ post.pk }}">
    <h1 class="entry-title">
        <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
    </h1>
    <div class="entry-meta">
      <span class="post-category"><a href="{% url 'blog:category' item.category_id%}">{{ item.category }}</a></span>
      <span class="post-date"><a href="{% url 'blog:archives' item.created_time.year item.created_time.month %}"><time class="entry-date"
                                                datetime="{{ item.created_time }}">{{ item.created_time }}</time></a></span>
      <span class="post-author"><a href="{% url 'blog:author' item.author_id %}">{{ item.author }}</a></span>
      <span class="comments-link"><a href="#">{{ item.comment_set.count }}评论</a></span>
      <span class="views-count"><a href="">{{ item.views }}阅读</a></span>
    </div>
    <div class="entry-content clearfix">
        <p>{{ item.excerpt }}</p>
        <div class="read-more cl-effect-14">
            <a href="{{ item.get_absolute_url }}" class="more-link">展开阅读<span class="meta-nav">→</span></a>
        </div>
    </div>
    </article>
    {% empty %}
    <div class="no-post">暂时还没有发布文章啊</div>
    {% endfor %}
    <!-- 简单分页效果
    <div class="pagination-simple">
        <a href="#">上一页</a>
        <span class="current">第 6 页 / 共 11 页</span>
        <a href="#">下一页</a>
    </div>
    -->
    <div class="pagination">
        <ul>
            <li><a href="">1</a></li>
            <li><a href="">...</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li class="current"><a href="">6</a></li>
            <li><a href="">7</a></li>
            <li><a href="">8</a></li>
            <li><a href="">...</a></li>
            <li><a href="">11</a></li>
        </ul>
    </div>
{% if is_paginated %}
    <div class="pagination-simple">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">第 {{ page_obj.number }} 页 / 共 {{ paginator.num_pages }} 页</span>

            <!-- 如果当前页还有下一页，显示一个下一页的按钮 -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">下一页</a>
        {% endif %}
    </div>
{% endif %}
</main>
{% endblock main %}